.navbar{
    background: linear-gradient(180deg, #EDF3ED 0%, rgba(247, 248, 247, 0.31) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    width: 100%;
    position: fixed;
    z-index: 3;
    backdrop-filter: blur(6px);
  }
  .nav{
      color: #4A5652;
      display: flex;
      justify-content: center;
      width: 96%;
      align-items: center;
    }
  .left_nav{
    width: 50%;
    /* display: flex;
    justify-content: flex-start; */
  }
  .right_nav{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 4%;
  }
  .right_nav h3{
    font-weight: 600;
  }
  .right_nav span{
    color: #0F2B34;
    font-weight: 700;
  }
  .nav ul{
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      font-weight: 600;
      font-size: 18px;
      color: #4A5652;
      width:80%;
      justify-content: flex-start;
      gap: 8%;
  }
  
  /* .nav ul li{
    
  }
   */
  .nav-link{
      color: inherit;
      text-decoration: none;
  } 
  
  .nav-link:hover{
      color: #527469;
  }
  
  .line {
      position: absolute;
      width: 100%;
      height: 0px;
    
      top: 62px;
    
      border: 1px solid #DCEDDC;
    }
    /* .btn{
      background-color: black;
      color: white;
      height: 38px;
      width: 122px;
      left: 1248px;
      top: 31px;
      border-radius: 20px;
      padding: 8px 24px 8px 24px;
  
    } */
  
    .active{
      color: #1F483B;
      font-weight: 700;
    }

    .user-popup {
      position: relative;
    }
    
    .user-popup .popup-content {
      position: absolute;
      top: 36px;
      right: 0;
      width: 160px;
      background-color: #ffffff;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      padding: 8px;
      z-index: 1;
    }
    
    .user-popup .popup-content ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
    }
    
    .user-popup .popup-content ul li {
      margin-bottom: 8px;
    }
    
    .user-popup .popup-link {
      color: #4a5652;
      text-decoration: none;
      font-weight: 600;
    }
    
    .user-popup .popup-link:hover {
      color: #1f483b;
    }